<!DOCTYPE html>
<html>
<head>
	<title>Title for blog</title>
</head>
<body>
	<div>
		<h1><a href="">Home</a></h1>	
	</div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Text for the first post</p>
    </div>
<xmp>
<h1>Заголовок</h1> - главный заголовок страницы 
<h2>Подзаголовок</h2> для заголовков второго уровня
<h3>Заголовок третьего уровня</h3> ... и так далее, вплоть до <h6>
<em>текст</em> подчеркивает твой текст
<strong>текст</strong> - жирный шрифт
<br /> переход на следующую строку (внутрь br тега нельзя ничего поместить)
<a href="https://djangogirls.org">link</a> создает ссылку
<ul><li>первый элемент</li><li>второй элемент</li></ul> создает список, такой же как этот!
<div></div> определяет раздел страниц"""
</xmp>

</body>
</html>